.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: white;

}

.example-list {
  border: solid 2px black;
  min-height: 60px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  display: block;
}

td{
  font-family: Roboto;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px black;
  background: #f5f5f5;
  font-family: Roboto;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


.example-button-row button,
.example-button-row a {
  padding: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
/* mise en forme */
.infirmiers, .paientsNonAffectes {
  padding: 1em;
  margin: 0.8em;

  border-radius: 10px;
}

.paientsNonAffectes {
  max-height: 270px;
  background-image: url("body3.jpg");
  border-top-left-radius: 12px;
  borer-top-rigth-radius:12px;
  margin-top: 12px;
  border-top: floralwhite 1px solid;
}
#body{
  margin-right: auto;
  margin-left: auto;
}
.infirmiers {
  min-height: 480px;
}
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 0px;
  border-radius: 15px;
}
#patient{
  border-radius: 20px;
  background-color: white;
}
.infirmier_liste{
  background-image: url("body3.jpg");
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom: black 1px solid;

}
#ajout{
  float: right;
  margin-top: 25px;
  margin-right: 5px;
}
.fieldset {
border: 1px solid #ccc;
padding: 10px;
  border-radius: 15px;
}
h3{
  font-style: italic;
  color: blue;
  font-family:'AmstelvarAlpha';
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;

}
h4{
  margin-left: 5px;
  margin-top: 15px;
}
#deconnexion{
  float: right;
  background-color: bisque;
  margin-top: 0px;

}
#masterList{
  border-radius: 15px;
  background-color: white;
}
