<!-- CONTAINER POUR LE CARTE D'AJOUTE DE PATIENT -->
<div id="body">
  <div class="container">
    <div class="tt">

      <h3>Bienvenu, {{id}}, sur le cabinet  medical de  Soins à Grenoble</h3>
      <a id ="deconnexion" class="navbar-collapse collapse" href="javascript:void(0);" (click)="logout()">Deconnection</a>

    </div>

  </div>
  <button id ="ajout" class="btn btn-success" (click)="afficher_div()" >Ajouter un patient</button>
  <ul>
    <div cdkDropListGroup>
      <!-- LISTE DES INFIRMIERS AVEC LEUR PATIENTS -->
      <div class="infirmier_liste">
          <h4>Listes des infirmiers </h4>
          <div class="infirmiers">
            <ul>
              <app-infirmier *ngFor="let infirmier of infirmiers" [infirmierInput]="infirmier" (containerEvent)="editPatient($event)">
              </app-infirmier>
            </ul>

            <div class="example-container"  *ngIf="affichage_div">

              <!-- LISTE AVEC 1 ELEMENT (CARTE DE NOUVEAU PATIENT) POUR GARDER CARTE DANS LE MEME PLACE SI ON CHOISI PAS LE INFIRMIER -->
              <div cdkDropList id="masterList" #masterList="cdkDropList" class="example-list" (cdkDropListDropped)="drop($event)">
                <!--CARTE DE NOUVEAU PATIENT -->
                <div cdkDrag class="example-box" id="addpatients" >
                  <table>
                    <tr>
                      <td>Prenom</td> <td><input #prenom type="text" placeholder="Alexandre" [(ngModel)]="prenomVal"/></td>
                    </tr>
                    <tr>
                      <td>Nom </td><td><input #nom type="text" placeholder="Demeure" [(ngModel)]="nomVal"/></td>
                    </tr>
                    <tr>
                      <td>Sexe </td><td>M<input #M type="radio" name="sexe" checked [(ngModel)]="mVal"/>F<input #F type="radio" name="sexe" checked [value]="fVal"/></td>
                    </tr>
                    <tr>
                      <td>Numero de sécurité sociale</td><td><input #nss type="text" placeholder="ex : 110083306303570" [(ngModel)]="secVal"/></td>
                    </tr>
                    <tr>
                      <td>Date de naissance</td><td><input #date type="date" id="naiss" [(ngModel)]="naissVal"/></td>
                    </tr>
                    <tr>
                      <td>Ville </td><td><input #ville type="text" placeholder="Saint martin d'Heres" [(ngModel)]="villeVal"/></td></tr>
                    <td>Code postal </td><td><input #cp type="text" placeholder="38400" [(ngModel)]="codeVal"/></td>
                    <tr>
                      <td>Rue </td><td><input #rue type="text" placeholder="De la chimie" [(ngModel)]="rueVal"/></td></tr>
                    <tr>
                      <td>Numero </td><td><input #numero type="text" placeholder="60" [(ngModel)]="numVal"/></td></tr>
                    <tr>
                      <td>Etage </td><td><input #etage type="text" placeholder="0" [(ngModel)]="etageVal"></td></tr>
                  </table>
                  <button  class="btn btn-success" (click)="vider()">Vider</button>

                </div>
              </div>
            </div>

          </div>

      </div>
      <!-- LISTE DES PATIENTS NON AFFECTEES -->
      <!-- two line list -->
      <div class="paientsNonAffectes">
        <fieldset class="fieldset">
            <legend>
              Liste des patients non affectés
            </legend>
          <mat-list>
            <app-patient [(patientInput)]="patientsNonAffectees" (containerEvent)="editPatient($event)"></app-patient>
          </mat-list>

        </fieldset>

      </div>

    </div>
  </ul>


</div>
